.book-filter{
    max-width: 400px;
    background-color: var(--clr2);
    padding: 0.8rem;
    border-radius: 5px;
}

.book-filter form{
    display: grid;

    grid-template-columns: minmax(50px, 100px) minmax(100px, auto);
    gap: .5em;
    max-width: 100%;
}
